.canvas{
    border: 1px solid blue;
    position: relative;
}
.col-8{
    border: 1px solid red;
    margin-left: 0px;
    height: 100px;
}
.player1{
    text-align: left;
    float: left;
}
.player2{
    text-align: right;
    float: right;
}
.enemy{
    border: 1px solid green;
    height: 60px;
    image-rendering: pixelated;
    margin-left: 20px;
    align-content: center;
    position: relative;
}
button{
    height: 20px;
    width: 70px;
}
.invader-image{
    width: 100%;
    height: auto;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
}
.no-mg{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.lane{
    width: 50%;
    position: absolute;
}
canvas {
    border:1px solid #d3d3d3;

    background-color: #f1f1f1;
    transform: translate(15%, 0%);
}

.life{
    width: 50px;
    height: 50px;
    background-color: #240746;
    
}